<div class="container col-md-6">
    <div class="card">
        <div class="card-header ">
            <h3>Gestion de vehículos</h3>
        </div>
        <div class="card-body">

            <div class="card-header ">
                <h5>Parametros de busqueda</h5>
            </div>
            <form>
                <div class="card">
                    <div class="card-body">

                        <div>
                            <label for="nombre">Nombre</label>
                            <input name="nombreusuario" [(ngModel)]="nombre" id="nombre" type="text"
                                class="form-control" style="width: 30%;">

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-warning"
                            (click)="listarUsuarios(nombre)">Consultar</button>
                        <button type="button" class="btn btn-info" (click)="limpiar()">Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container">
            <div class="card-header ">
                <h5>Lista de vehículos</h5>
            </div>            
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Tipo Vehículo</th>
                                <th scope="col">Activo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cursor" *ngFor="let usuario of usuarios;let c = index" (click)="editar(usuario)">
                                <td>{{usuario.id}}</td>
                                <td>{{usuario.rol}}</td>
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.activo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-primary" (click)="crear()">Crear</button>
                </div>
            </div>
        </div><br>
        <div class="container">
            <form #Usuarioform="ngForm">
                <div class="card-header ">
                    <h5>Información del vehículo</h5>
                </div>                
                <div class="card">
                    <div class="card-body">
                        <div class="form-group ">
                            <div class="row">
                                <label for="id" class="col-form-label col-sm-2">Id:</label>
                                <div class="col-md-6">
                                    <input type="text" name="id" id="id" [disabled]="isInputId" [(ngModel)]="usuario.id"
                                        class="form-control" tabindex="1">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="nombreForm" class="col-form-label col-sm-2">Marca:</label>
                                <div class="col-md-6">
                                    <input type="text" name="nombreForm" id="nombreForm" [(ngModel)]="usuario.nombre"
                                        required #nombreForm="ngModel"
                                        [class.is-invalid]="nombreForm.invalid && nombreForm.touched"
                                        [disabled]="isInputNombre" class="form-control" tabindex="1">
                                    <small class="text-danger"
                                        [class.d-none]="nombreForm.valid || nombreForm.untouched">El campo Nombre es
                                        requerido</small>

                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="rol" class="col-form-label col-sm-2">Tipo vehículo:</label>
                                <div class="col-md-6">
                                    <select class="form-select" [(ngModel)]="usuario.rol" required #rolForm="ngModel"
                                        [class.is-invalid]="rolForm.invalid && rolForm.touched" [disabled]="isInputRol"
                                        aria-label="Default select example" name="rolForm">
                                        <option [value]="rol.id" *ngFor="let rol of rols">{{rol.nombre}}</option>
                                    </select>
                                    <small class="text-danger" [class.d-none]="rolForm.valid || rolForm.untouched">El
                                        campo Rol es requerido</small>
                                </div>
                            </div>
                            <div><br>
                                <label for="">Activo: </label> <br>
                                <input type="radio" [disabled]="isInputIdActivo" [(ngModel)]="usuario.activo"
                                    name="activo" value="S">&nbsp;Si
                                &nbsp;&nbsp;
                                <input type="radio" [disabled]="isInputIdActivo" [(ngModel)]="usuario.activo"
                                    name="activo" value="N">&nbsp;No
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-success" [disabled]="isBtnGuardar"
                            (click)="guardarUsuario(usuario)">Guardar</button>
                        <button type="button" class="btn btn-primary" [disabled]="isBtnEditar"
                            (click)="editarUsuario(usuario)">Editar</button>
                        <button type="button" class="btn btn-danger" [disabled]="isBtnEliminar"
                            (click)="eliminarUsuario(usuario)">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>